body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding:0;
  margin: 0;
  background-color: #f4f4f4;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;

}

.button_1{
  height: 28px;
  background: #A6A7A6;
  border:0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

header{
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #6D6A6D 9px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin:0;
  font-family:"Times New Roman", Times, serif;
  font-size: 200%;
}

header nav{
  float: right;
  margin-top: 10px;
}

#showcase{
  min-height: 400px;
  background:url('../stylesheets/images/image4.jpg') no-repeat 0;
  text-align: center;
  color: #ffffff;
}

#showcasess{
  min-height: 400px;
  background: #B3B4B3;
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top: 80px;
  font-size: 45px;
  font-family:"Times New Roman", Times, serif;
  font-style: italic;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
  font-family:"Times New Roman", Times, serif;
  font-style: italic;
}

#newsletter{
  padding: 5px;
  color: #ffffff;
  background: #35424a;
  border-top: #029B43 5px solid;
}

#newsletters{
  padding: 5px;
  color: #ffffff;
  background: #35424a;
  border-top: #029B43 5px solid;
}

#newsletter h1{
  float: left;
  font-family:"Times New Roman", Times, serif;
  font-style: italic;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletters form{
  float: left;
  margin-top: 10px;
}

#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width:30%;
  padding: 10px;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #6D6A6D;
  text-align: center;
}

#showcases{
  min-height: 350px;
  background:url('../stylesheets/images/construction.png') no-repeat 0;
  text-align: center;
  color: #08873E;
}
